@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
  /* transition: scroll-behavior 1000ms ease; */
}

.highlight {
  color: #0096ff;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #2c3333;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  align-items: center;
}
.logo {
  color: #bcccc8;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.ham-menu {
  display: none;
}
.nav ul a {
  text-decoration: none;
  color: #e7f6f2;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 2px;
}

.nav ul a:hover {
  background-color: #e7f6f2;
  color: black;
  transition: background 300ms ease;
}

.intro {
  background-color: #2c3333;
  /* background-image: linear-gradient(#2C3333, #0F3D3E); */
  color: #e7f6f2;
  display: flex;
  padding: 0 200px;
  width: 100%;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  font-size: 1.1rem;
}

.profile-img {
  width: 30%;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #0096ff;
}

.profile-img img {
  width: 100%;
  transform: scale(1.1);
}

h1 {
  font-size: 3.3rem;
}

.sk-ach {
  height: 80vh;
  width: 100%;
  display: flex;
  background-color: #0f3d3e;
  color: #e7f6f2;
  padding: 100px 200px;
  /* background-image: linear-gradient(90deg, #0F3D3E, #2C3333); */
}

.achievements {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1.2rem;
  line-height: 1.5;
  gap: 3rem;
}

.achievements li {
  line-height: 2;
}

.achievements a {
  color: #0096ff;
  text-align: center;
  text-decoration: none;
}

.achievements ul {
  list-style-type: circle;
  list-style-position: inside;
}

.skills {
  width: 50%;
  padding-left: 20px;
  /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
}

.elements {
  display: flex;
  height: 100%;
  padding: 50px 0;
  /* justify-content: space-between; */
  gap: 20px;
}

.elements span {
  display: block;
  border: 1px solid #e7f6f2;
  height: fit-content;
  padding: 7px 10px;
  border-radius: 6px;
}

.projects {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: #2c3333;
  color: #e7f6f2;
  padding: 100px 200px;
  /* gap: 3rem; */
}

.project-section {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
  padding: 3rem 0 2rem 0;
}

.proj {
  width: 27%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e7f6f2;
  border-radius: 10px;
  padding: 1.5rem;
  /* justify-content: center; */
  gap: 1rem;
  position: relative;
  contain: content;
  position: relative;
}

.proj h2 {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.proj p {
  text-align: justify;
}

.proj a {
  text-decoration: none;
  color: white;
  display: flex;
  border-radius: 20px;
  width: fit-content;
  padding: 1% 4%;
  background-color: rgb(255, 255, 255, 0.1);
  position: absolute;
  bottom: -9%;
  transition: 0.5s ease;
  z-index: 5;
  opacity: 0;
}

.proj a:hover {
  border: 1px solid white;
}

.proj::after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  /* margin: -10px; */
  border-radius: 10px;
  bottom: 0;
  left: 0;
  background-color: #0096ff;
  opacity: 0%;
}

.proj:hover {
  color: black;
  border: none;
}

.proj:hover::after {
  opacity: 70%;
  transition: opacity ease 300ms;
}

.proj:hover a {
  bottom: 50%;
  opacity: 1;
}

.contact {
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: #0f3d3e;
  color: #e7f6f2;
  padding: 50px 200px 0 200px;
  flex-direction: column;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  padding: 50px;
  gap: 3rem;
}

.con-attr {
  display: flex;
  align-items: center;
  gap: 4px;
}

.con-attr a {
  text-decoration: none;
  color: inherit;
}

.con-attr img {
  transform: scale(0.6);
}

.social-media {
  display: flex;
  height: 50%;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.sm {
  transform: scale(1.2);
  /* background-color: red; */
  border-radius: 40%;
}

.sm:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.contact img {
  filter: invert(100%);
}

/* .sm {
    display: flex;
    align-items: center;
    border: 1px solid #E2DCC8;
    border-radius: 10px;
    padding: 5px;
    color: white;
    cursor: pointer;
} */

/* .sm a {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    gap: 10px;
}

.sm img {
    filter: brightness(200%), contrast(0);
}

.sm:hover {
    background: #E2DCC8;
    color: black;
    transition: background 300ms ease-in-out;
} */

.credits {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* MEDIA QUERIES */

@media (max-width: 1216px) {
  .sk-ach {
    height: fit-content;
    flex-direction: column;
    gap: 10rem;
  }
  .skills {
    padding: 0;
  }
}
